.headlineImage{
  max-width: 100%;
}

.newsArticle a:hover{
  text-decoration: none
}

.newsArticle a:hover .articleTitle{
  text-decoration: underline;
}

.articleTitle{
  font-weight: bold;
  color: black
}

.articleContents{
  color: black
}

.articleContents:hover{
  text-decoration: none
}
