.headlineImage{
  max-width: 100%;
}

.newsArticle:hover{
  text-decoration: none
}

.articleTitle{
  font-weight: bold;
  color: black
}

.articleContents{
  color: black
}

.articleContents:hover{
  text-decoration: none
}
